<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<!-- <div style="float: left; display: flex; align-items: center; gap: 10px; margin-top: 10px;">
    <img src="/images/nsf.png" alt="NSF Logo" style="height: 40px;">
    <img src="/images/usdot.png" alt="USDOT Logo" style="height: 40px;">
    <img src="/images/fdot.png" alt="FDOT Logo" style="height: 40px;">
</div>

<div style="clear: both;"></div>

<div style="width: 150px; height: 100px; float: left; margin-right: 10px; overflow: hidden;">
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=1WEmpK6O8340IOqU0jB77Zo6zzCs7xyT0ZXr1-lIxLU&cl=ffffff&w=a"></script>
</div> -->

<!-- <div style="display: flex; flex-direction: column; gap: 20px; margin-top: 10px;"-->


<div style="display: flex; flex-wrap: wrap; gap: 30px; justify-content: center; align-items: center; gap: 30px; margin-top: 20px; text-align: center;">

    <!-- logos (auto-wrap) -->
    <img src="/images/nsf.png" style="height: 100px;">
    <img src="/images/usdot.png" style="height: 100px;">
    <img src="/images/fdot.png" style="height: 100px;">
    <img src="/images/starmetro.png" style="height: 100px;">
    <img src="/images/umd.png" style="height: 80px;">
    <img src="/images/C2SMARTER.png" style="height: 80px;">
    <img src="/images/NYU.png" style="height: 100px;">
    <img src="/images/FAMU-FSU.png" style="height: 100px;">
    <img src="/images/RIDER.png" style="height: 100px;">

</div>


<div style="width: 150px; height: 100px; float: left; margin-right: 10px; overflow: hidden;">
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=1WEmpK6O8340IOqU0jB77Zo6zzCs7xyT0ZXr1-lIxLU&cl=ffffff&w=a"></script>
</div> 
<!-- end custom footer snippets -->
